*{
    background: white;
    color: rgb(240, 231, 231);
    text-align: center;
}
h1{
    background:brown;


}
button{
    width: 100px;
    border-radius: 20px;
    transition: 1s;
    color: blue;

}
button:hover{
    color: rgb(88, 10, 10);

}
