body{
    background-color: rgb(222, 137, 222);
    color: beige;
    margin: 10;
}
h1{
    background: darkmagenta;
    color: beige;
    margin: 50px;
    padding: 30px;
    border: 10px double yellow;
    border-radius: 40px;
}
p{
    background: rgb(241, 241, 238);
    color: darkorchid;
    height: 50px;
    padding-left: 30px;
    cursor: pointer;
    font-size: 40px;
    transition: 4s;
    text-align: center;
    border: 10px double black;
}
p:hover{
    font-size: 20px;
    background: lightgreen;
    color: darkblue;
}